<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>

  <body>
    <h1>productos</h1>

    <table border="1">
      <head>
        <tr>
          <th>id</th>
          <th>fecha</th>
          <th>cajero</th>
          <th>cliente</th>
          <th>usuario</th>
          <th>creatAt</th>
        </tr>
      </head>

      <tbody>
        {% for producto in productos %}
        <tr>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio_actual }}</td>
          <td>{{ producto.marca }}</td>
          <td>{{ producto.descuento }}</td>
          <td>{{ producto.stock }}</td>
          <td>{{ producto.categoria }}</td>
          <td>{{ producto.creatAt }}</td>
          <td>
            <form action="{%url 'eliminar_producto' producto.id%}" method="DELETE">
              {%csrf_token%}
              <button value="delete">eliminar</button>
            </form>
          </td>
        </tr>
        {%empty%}
        <h1>no hay datos</h1>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
